VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_auth_domain_here
VITE_FIREBASE_PROJECT_ID=your_project_id_here
VITE_FIREBASE_STORAGE_BUCKET=your_storage_bucket_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id_here

# Login credentials
VITE_LOGIN_USERNAME=MOON
VITE_LOGIN_PASSWORD=your_girlfriend_birthday_here
VITE_AUTH_EMAIL=moon@birthdaylove.app

# Admin
VITE_ADMIN_EMAIL=admin@birthdaylove.app

# Relationship start date
VITE_RELATIONSHIP_START=2026-03-19
